body {
  background-color: #F8F0DF;
}

hr {
  border-color: grey;
  border-style: dotted none none;
  border-width: 10px;
  width: 50%;
}

h1 {
  color: #79B4B7;
}

h3 {
  color: #79B4B7;
}
