/*TAG SELECTORS*/

a {
  display: inline-block;
  transition: 0.5s;
}

a:hover {
  background-color: gold;
  -webkit-transform: rotateX(360deg);
  -moz-transform: rotateX(360deg);
  -ms-transform: rotateX(360deg);
  -o-transform: rotateX(360deg);
  transform: rotateX(360deg);
}

body {
  background-color: #F8F0DF;
}

h1 {
  color: #79B4B7;
}

h3 {
  color: #79B4B7;
}

hr {
  border-color: grey;
  border-style: dotted none none;
  border-width: 10px;
  width: 50%;
}

/*CLASS SELECTORS*/

.fish {
  border-radius: 100%;
  height: 150px;
}
